
<div class="oocss-form oocss-full-container-width">
    {{ form_start(form) }}
            {{ form_row(form._username, {'label': 'Nom d\'utilisateur', 'widget_attr': {'class': 'oocss-full-container-width'}, 'required': true}) }}
            {{ form_row(form._email, {'label': 'Adresse email', 'widget_attr': {'class': 'oocss-full-container-width'}, 'required': true}) }}
            <div class="oocss-form-fieldset oocss-horizontal">
                {{ form_row(form._password._password1, {'label': 'Mot de passe', 'widget_attr': {'class': 'oocss-full-container-width'}, 'required': true}) }}
                {{ form_row(form._password._password2, {'label': 'Répéter le mot de passe', 'widget_attr': {'class': 'oocss-full-container-width'}, 'required': true}) }}
            </div>
        <div class="form-fieldset oocss-full-container-width oocss-form-validate">
            <!--TODO: ajouter une cas à cocher, j'accepte les Conditions d'utilisation -->
            <button class="oocss-form-submit">S'inscrire</button>
        </div>
    {{ form_end(form) }}
</div>